page-user-list {
    .user-list-view{
        color:$white !important;
        background: url('../assets/bg/bg1.jpg') no-repeat center center fixed;
        background-size:$main-background-size; 
    }
}
