page-signup {
    .logo-signup{
        width: 40%;
        display: block;
        margin: 40px auto;
    }
    .login-view{
        color:$white !important;
        background: $main-background;
        background-size:$main-background-size; 
    }
}

